<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Growcube ~ REPL</title>  
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="notop">
<!--
  <div class="top">
    Growcube
  </div>
//-->  
  <div class="container">
<!--  
    <nav class="tool-nav">
      <ul class="tool-nav__list">
        <li class="active" >
          <span>REPL</span>
        </li>
        <li class="inactive" >
          <a href="index.html">Log</a>
        </li>
        <li class="inactive" >
          <a href="index.html">Graph</a>
        </li>
      </ul>
    </nav>
-->    
    <main id="app" class="app-wrapper">
      <noscript>
        <h1>
          Repl
        </h1>
        <p>
          You need to enable javascript to use this cool app :)
        </p>
      </noscript>
    </main>
  </div>
  <footer>
    Repl Console <%= htmlWebpackPlugin.options.environment.version %>
  </footer>
</div>
</body>
</html>
