@import './node_modules/css-reset-and-normalize/less/reset-and-normalize';
@import './node_modules/css-reset-and-normalize/less/button-reset';
@import './node_modules/css-reset-and-normalize/less/link-reset';
@import './node_modules/@fontsource/jetbrains-mono';
@import (inline) "./node_modules/xterm/css/xterm.css";

:root {
  --color-text: hsl(0deg, 0%, 100%);
  --color-background: hsl(210deg, 30%, 8%);
  --color-blurred-background: hsla(210deg, 30%, 8%, 0.85);
  --color-primary: hsl(230deg, 100%, 69%);
  --color-secondary: hsl(333deg, 100%, 52%);
  --color-tertiary: hsl(53deg, 100%, 50%);
  --color-decorative: hsl(200deg, 50%, 60%);
  --color-muted: hsl(210deg, 38%, 15%);
  --color-info: hsl(230deg, 100%, 69%);
  --color-success: hsl(160deg, 100%, 40%);
  --color-success-background: hsla(160deg, 100%, 40%, 0.1);
  --color-error: hsl(340deg, 95%, 60%);
  --color-error-background: hsla(340deg, 95%, 43%, 0.1);
  --color-alert: hsl(30deg, 100%, 50%);
  --color-alert-background: hsl(40deg 13% 13%);
  --color-subtle-background: hsl(210deg, 30%, 8%);
  --color-subtle-floating: hsl(210deg, 22%, 15%);
  --color-homepage-light: hsla(200deg, 100%, 85%, 0);
  --color-homepage-dark: hsla(200deg, 100%, 85%, 0.1);
  --color-homepage-bg: hsl(210deg, 30%, 8%);
  --color-gray-100: hsl(210deg, 15%, 20%);
  --color-gray-200: hsl(210deg, 15%, 25%);
  --color-gray-300: hsl(210deg, 10%, 40%);
  --color-gray-400: hsl(210deg, 9%, 45%);
  --color-gray-500: hsl(210deg, 8%, 50%);
  --color-gray-600: hsl(210deg, 12%, 55%);
  --color-gray-700: hsl(210deg, 14%, 66%);
  --color-gray-900: hsl(210deg, 25%, 88%);
  --color-gray-1000: hsl(210deg, 25%, 96%);
}

/* Anchors */

a { 
  color: var(--color-primary);
  text-decoration: underline; 
}

a:hover { text-decoration: none; }

body {
  padding: 0;  
  margin: 0;
  overflow-x: hidden;    
  line-height: 1.2;
  font-size: 13pt;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  color: #2d232e;
  background-color: #c8c0bd;
  position: relative;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;  
}

.notop {
  padding-top: 1.5em;
}

.top {
  padding: 0.5em;
  background: #1e1d1c;
  margin-bottom: 1.2em;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 90vw;
  max-width: 1280px;
}

.app-wrapper {
  background: #fff;
  padding: 1.3em;  
  // border-radius: 0.2em;
  // border-bottom-left-radius: 0;
  // border-bottom-right-radius: 0;
  // box-shadow: 4.7px 9.4px 9.4px hsl(0deg 0% 0% / 0.35);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(#000, 0.25);  
}

.app-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}

.tool-nav {
  margin: 0;
  padding: 0;
  &__list {
    padding: 0 0.5em;
    li {
      display: inline-block;
      margin-right: 0.5em;
    }
    li.inactive {
      background: none;
      font-weight: 100;
      background: rgba(255,255,255,0.2);
      transition: 5ms background ease-in-out;      
    }
    li.active {
      font-weight: 800;      
    }
    li.inactive:hover {
      background: rgba(255,255,255,1);
    }
    a {
      color: #222;
      display: inline-block;
      width: 100%;      
      text-decoration: none;
      padding: .5em .8em;
    }
    span {
      padding: .5em .8em;
    }
  }

}

h1 {
  font-size: 20pt;
  margin-bottom: 0.5em;
  display: inline-flex;
  svg {
    margin-right: 0.3em;
  }
}

.terminal-wrapper {
  margin: 0;
  padding: 10px 20px;
  background-color: #2D2E2C;  
}

.terminal-stats {
  font-size: 0.8rem;
  margin-top: 0.5em;
  text-align: right;
}


*::-webkit-scrollbar {
  height: 15px;
  width: 15px;
  background-color: transparent;  
}

*::-webkit-scrollbar-track {
  background-color: #2b2a2a;
  padding: 0.5em;
}

*::-webkit-scrollbar-track:hover {
  background-color: #fff;
}

/*
*::-webkit-scrollbar-track:active {
  background-color: #2D2E2C;
}
*/
*::-webkit-scrollbar-thumb {
  background-color: #c8c0bd;
  // border: 3px outset #838383;
}
/*
*::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #000000;
}*/

.xterm {
  overflow-y: auto;
}

.tools {
  margin: 1em;
}

.conn-status-wrapper {
  font-size: 10pt;
  font-weight: normal;
  display: inline-block;
  margin-left: 1em;
  color: #222;
  padding: 0.5em;
}

.conn-status {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  padding: 0;
  vertical-align: middle;

  &--disconnected {
    background: red;
  }
 
  &--connected {
    background: green;
  }
}


.connect-setup {

  &__device-filter {
    font-size: 90%;
  }

  &__fieldset {
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 16px;
    legend {
      padding: 0.2em 0.5em;
    }
  }
  &__status_message {
    font-size: 0.8rem;
    padding: 0.5em;
    display: block;
    text-align: right;
    margin-top: 0.5em;
  }
  label, select {
    margin-right: 0.5em;
  }
}

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin: 0 0.1em;
  margin-bottom: 0;
  text-decoration: none;
  line-height: 1.5rem;
  color: #333333;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
}

.btn[disabled] {
  color: #ccc;
  cursor: not-allowed;
}

select {
  padding: 0.2em;
  border: 2px solid #ddd;
  border-radius: 0.5em;
  background: #fff;
}

label {


}

footer {
  margin-top: 2em;
  padding: 0.5em;
  font-size: 80%;
  text-align: center;
}
