<template>
  <header class="app-header">
    <h1>
      <svg width="32" height="32" version="1.1" viewBox="0 0 8.4667 8.4667" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(2.4841 14.036)" fill="#fff" stroke-width=".26458" aria-label="&gt;">
          <path d="m1.9971 7.0584v-0.90489l3.2243-1.581q0.19762-0.093609 0.36404-0.15602 0.17682-0.072807 0.26002-0.093609-0.093609-0.020802-0.27043-0.083208-0.17682-0.072807-0.35363-0.16642l-3.2243-1.5914v-0.93609l4.4724 2.2362v1.0401z" fill="#fff"/>
        </g>
        <g stroke-width=".26458" aria-label="R">
          <path d="m0.22919 8.2375v-8.0083h6.8642v1.144h1.144v6.8642zm2.2881-4.5762v-1.144h3.4321v1.144zm0 1.144h1.144v1.144h1.144v1.144h2.2881v-1.144h-2.2881v-1.144h1.144v-1.144h1.144v-1.144h-1.144v-1.144h-4.5762v5.7202h1.144z"/>
        </g>
        </svg>
        REPL Console 
        <span class="conn-status-wrapper">
            <span v-if="connected">
                <span class="conn-status conn-status--connected"></span> connected
            </span>
            <span v-if="!connected">
                <span class="conn-status conn-status--disconnected"></span> disconnected
            </span>
        </span>
    </h1>
  </header>
  <div class="connect-setup">
    <fieldset class="connect-setup__fieldset">
      <legend>Serial Port Connection
        <select @input="onDeviceFilterSelect" id="connect-device-filter" :disabled="disableInputs" ref="deviceFilterSelect" class="connect-setup__device-filter">
            <option v-for="filterOption in deviceFilterOptions" v-bind:key="filterOption.value" :value="filterOption.value" >
            {{ filterOption.text }}
            </option>
        </select>
      </legend>      
      <div class="connect-setup__fieldset-col">        
        <label for="connect-baudrate">baudrate</label>
        <select v-model="baudRate" @input="onBaudrateSelect" id="connect-baudrate" :disabled="disableInputs" ref="baudRateSelect">
          <option v-for="option in baudRateOptions" v-bind:key="option.value" :value="option.value" >
            {{ option.text }}
          </option>
        </select>
        <button type="button" v-if="!connected" id="connect-btn" @click="onConnect" class="btn" title="connect" :disabled="connecting || disconnecting">
          <span class="button__text">connect</span>
        </button>
        <button type="button" v-if="connected" id="disconnect-btn" @click="onDisconnect" class="btn" title="disconnect" :disabled="connecting || disconnecting">
          <span class="button__text">disconnect</span>
        </button>
      </div>
    </fieldset>
    <div class="connect-setup__status_message">
      <span id="status-message">{{ statusMessage }}</span>
    </div>
  </div>
  <div class="terminal-wrapper">
    <div id="terminal" class="terminal"></div>        
  </div>
  <div class="terminal-stats">
    Bytes received: <span>{{ bytesFormatted }}</span>
  </div>
</template>

<script lang="ts">

import { defineComponent, ref } from "vue";
import Repl from "./repl";
import { EventDispatcher } from "./lib/dispatcher";
import { getPortMetadata, getDeviceFilters, deviceFilters } from "./lib/usb_devices";
import { CONN_OPTIONS_DEFAULT_BAUDRATE, DEFAULT_PORT_FILTERS_NAMES } from "./defaults";
import { saveConnOptions, loadConnOptions } from "./lib/settings";

const dispatcher = new EventDispatcher();
const repl = new Repl("", dispatcher);

// serial connection options, load from local storage
const connOptions = loadConnOptions() || {
  baudRate: CONN_OPTIONS_DEFAULT_BAUDRATE
};

const serialPortRequestOptions = {
    filters: getDeviceFilters(DEFAULT_PORT_FILTERS_NAMES)
};

function buildDeviceFilters() {
    const result = [];
    result.push({
        value: "",
        text: "any device",
    });
    for (const filterName of deviceFilters) {
        result.push({
            value: filterName.name,
            text: filterName.name,
        })
    }

    return result;
}

let deviceFilterOptions = buildDeviceFilters();

export default defineComponent({
  computed: {
    disableInputs(): boolean {
      return this.connecting || this.connected || this.disconnecting;
    },
  },
  components: {},

  mounted() {
    dispatcher.on("port.closed", () => {
      this.disconnecting = false;      
      this.connected = false;
      this.statusMessage = "Connection closed."
    });

    dispatcher.on("repl.connect", async () => {
      await repl.connect(connOptions, serialPortRequestOptions);
      repl.focus();
    });

    dispatcher.on("repl.disconnect", async () => {
      await repl.disconnect();
    });

    dispatcher.on("repl.change-baudrate", (data: any) => {
      connOptions.baudRate = data.baudRate;
      saveConnOptions(connOptions);
    });

    dispatcher.on("repl.change-device-filter", (data: any) => {
        serialPortRequestOptions.filters = getDeviceFilters(data.filter !== "" ? [data.filter] : []);      
    });    

    dispatcher.on("port.opened", (data: any) => {
      this.connecting = false;
      this.connected = true;

      const metaData = getPortMetadata(data.port);

      this.statusMessage = "Connected to: " + metaData.label;
    });

    dispatcher.on("port.opening", () => {
      this.connecting = true;
      this.statusMessage = "Opening connection..."
    });

    dispatcher.on("port.closing", () => {
      this.disconnecting = true;
      this.statusMessage = "Closing connection..."      
    });

    dispatcher.on("serial.bytes-updated", (data: any) => {
      this.bytesFormatted = data.bytesFormatted;
    });

    repl.run(
        document.getElementById("terminal")!
    );
  },
  data() {
    return {
      statusMessage: "", // is modified by event
      baudRate: connOptions.baudRate,
      baudRateOptions: [
        { value: 9600, text: "9600" },
        { value: 14400, text: "14400" },
        { value: 19200, text: "19200" },
        { value: 28800, text: "28800" },
        { value: 38400, text: "38400" },
        { value: 57600, text: "57600" },
        { value: 115200, text: "115200" },
        { value: 230400, text: "230400" },
        { value: 460800, text: "460800" },
        { value: 921600, text: "921600" },
      ],
      deviceFilterOptions: deviceFilterOptions
    }
  },
  setup() {
    const connected = ref(false);
    const connecting = ref(false);
    const disconnecting = ref(false);
    const bytesFormatted = ref("-");
    const statusMessage = ref("Waiting for connection");

    // expose to template and other options API hooks
    return {
      connected, connecting, disconnecting, bytesFormatted, statusMessage
    }
  },
  methods: {
    onBaudrateSelect: (event: Event) => {
        let baudRate = Number.parseInt((event.target as HTMLInputElement).value);
        dispatcher.dispatch("repl.change-baudrate", {
            baudRate: baudRate
        });
    },
    onConnect: async (event: Event) => {
      dispatcher.dispatch("repl.connect");
    },
    onDisconnect: async () => {
      dispatcher.dispatch("repl.disconnect");
    },
    onDeviceFilterSelect: (event: Event) => {
        let filter = (event.target as HTMLInputElement).value;
        dispatcher.dispatch("repl.change-device-filter", {
            filter: filter
        });
    }
  }
});
</script>

<style scoped>

</style>