<template>
  <div class="unsupported-info" id="unsupported-info">
    <h1>Sorry, but your browser does not support WebSerial API.</h1>
    <p>
      <a class="btn" href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/serial#browser_compatibility" target="_blank" rel="noopener">
        Learn more
      </a>
    </p>
</div>
</template>

<script lang="ts">

import { defineComponent } from "vue";
export default defineComponent({
    components: {},
});

</script>